$color: #558cf6;
$highlight: #fa8f03;
$grey: #ccc;
$dark_grey: #777;
$bg_grey: #f6f6f6;
$bg_dark_grey: #aaaaaa;


$day_color: black;

$selected_bg: $color;
$selected_fg: white;

$today_fg: black;
$today_bg: $highlight;
